<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Arahkan domain utama langsung ke folder dist
  RewriteRule ^$ dist/index.html [L]

  # Arahkan semua request aset (js/css) ke folder dist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/dist/
  RewriteRule ^(.*)$ dist/$1 [L]
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(js|mjs)$">
        Header set Content-Type "application/javascript"
    </FilesMatch>
</IfModule>